html, body {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }

.container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    background: #f0f4f8;
    color: #979797;

    font-family: 'Raleway', sans-serif;

    overflow: hidden;
}

.section {

    width: 1280px;
    height: 700px;
    
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

}

@media (max-width: 375px) {
    .section {
        width: 324px;
        height: 600px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    .section>div {
        margin-top: 10px;
    }

    .text-container {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        position: relative;
    }

    .svg-container {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
    }
}

.text-container, .svg-container {
    flex: 1;
    height: 100%;
}
@media (max-width: 375px) {
    .text-container, .svg-container {
        width: 100%;
        height: 50%;
    }
}

.text-content {
    margin-top: 267px;
    margin-left: 185px;
    width: 466px;
    height: 186px;
    position: absolute;
    top: 0px;
    left: 0px;
}
@media (max-width: 375px) {
    .text-content {
        margin-top: 12px;
        margin-left: 12px;
        width: 300px;
        height: 267px;
    }
}

.svg-content {
    margin-top: 96px;
    margin-left: 0;
    width: 533px;
    height: 518px;
}

@media (max-width: 375px) {
    .svg-content {
        
        margin-top: 12px;
        margin-left: 12px;
        width: 300px ;
        height: 262px;
    }
    .svg-content svg {
        width: 100%;
        height: 100%;  
    }
}

.text-title {
    font-size: 28px;
    color: #484848;
    text-align: left;
    line-height: 38px;
}
.text-body {
    font-size: 14px;
    color: #767676;
    letter-spacing: 0;
    line-height: 24px;
}
.text-bottom {
    font-size: 15px;
    color: #484848;
    text-align: left;
    line-height: 24px;
}
